body{
    background: #ffffff;
    color:#33ad28;
}

a{
    color:inherit;
    text-decoration:none;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 0px 30px;
    background: #ffffff;
    height: 75px;
    top: 0;
    
}
nav{
    display:flex;
    gap: 28px;
}

*{box-sizing: border-box; }

section {
    padding: 10px 30px;
}

footer{
    padding: 20px 30px;
    font-size: 11px;
}

nav a:hover{
    color: #9c9393
}

/*Works*/
#works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.work-card img{
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
}

.work-card{
    border:1px solid #000000;
}
.work-card h4{
    margin: 15px 15px 5px;

}

.work-card p{
    margin: 0 15px 15px;
    font-size: 14px;
    line-height: 1.6;
}

.work-card:hover {
    opacity:0.7;
}

.works-controls{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.works-controls select{
    padding: 10px;
    font-size: 16px;
}

.work-category {
    font-size: 4px;
    padding-top: 14px;
    color: #9c9c9c;
}

.work-year {
    font-size: 10px;
    margin-top: 10px;
}

/*スマートフォン*/
@media screen and (max-width: 600px){
    #top {
        padding-top: 80px;
    }

    #top img {
        width: 100%;
    }

    #works-grid {
        grid-template-columns: 1fr;
    }

    .works-controls{
        flex-direction: column;
    }
}